.login-form {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}
.el-form-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.el-form-item__label {
    float: none;
}
.el-form-item__content {
    margin-left: 0 !important;
}